<footer class="bg-primary">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <div class="md:grid-cols-3">
      <div class="px-4 sm:px-16 md:text-right">
        <img src="https://lhu.edu.vn/ViewPage/LHUVNB4/_default/image/Logo_white_Vi.png" class="md:float-left" style="height:120px">
      </div>
      <div class="space-y-8 md:col-span-1">
        <div class="px-4 sm:px-16 mt-8 md:grid md:gap-8">
          <div>
            <h3 class="text-lg leading-5 text-white font-semibold tracking-wider uppercase">
              Khoa Công nghệ Thông tin - Trường Đại học Lạc Hồng
            </h3>
            <ul class="mt-4 space-y-4">
              <li class=" text-white">
                Website: <a target="_blank" href="https://cs.lhu.edu.vn" class="text-base leading-12 hover:text-secondary">
                  https://cs.lhu.edu.vn
                </a>
              </li>
              <li class=" text-white">
                Page Khoa CNTT: <a target="_blank" href="https://www.facebook.com/cnttlhu" class="text-base leading-12 text-white hover:text-secondary">
                  https://www.facebook.com/cnttlhu
                </a>
              </li>
              <li class=" text-white">
                Page CLB Công nghệ và ứng dụng: <a target="_blank" href="https://www.facebook.com/lhub304" class="text-base leading-12 text-white hover:text-secondary">
                  https://www.facebook.com/lhub304
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-12 border-t border-gray-200 pt-8">
      <p class="text-base leading-6 text-white xl:text-center">
        {{ site.footer-text }}
      </p>
    </div>
  </div>
</footer>
